* {
    font-family: 'Roboto', sans-serif;
}

.bg-stilo-nav {
    background: rgb(182, 228, 156);
}

#navbar-items .navbar-nav {
    display: flex;   
    justify-content: center; 
    width: 100%;
}

.navbar-brand {
    max-width: 5em;
}

img {
    width: 50%;
}

.carousel-control-prev, 
.carousel-control-next {
    font-size: 3rem;
    font-weight: 700;
    color: red;
}

.primary-color {
    color: rgb(46, 170, 223);
}

.secondary-color {
    color: rgb(46, 52, 137);
}
/* MINI BANNERS */
#mini-banners {
    margin-bottom: 4em;
  }
  
  #mini-banners .card {
    padding: 2em 0.3em;
    border-radius: 0;
  }
  
  #mini-banners i {
    font-size: 4em;
  }
  
  #mini-banners .card-title {
    margin-bottom: 1.5em;
  }
  
  #mini-banners .btn {
    margin-top: 1.5em;
    padding: 0.6em 1.2em;
  }
  
  #mini-banners .card {
    margin-bottom: 1em;
  }
  
  @media (min-width: 768px) {
    #mini-banners {
      margin-top: -6em;
    }
  }